
<div>

  <h2>Management</h2>
  <div class="container-fluid voffset5">

    <div class="row">
      <div class="col-md-4" ng-if="vm.isAdmin">
        <h4>User Name: {{vm.user.login}}</h4>
        <div  class="voffset5">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">First name</label>
            <div class="col-10">
              <input class="form-control" type="text" value={{vm.user.firstName}} id="example-text-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Last name</label>
            <div class="col-10">
              <input class="form-control" type="text" value={{vm.user.lastName}} id="example-text2-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input class="form-control" type="search" value={{vm.user.email}} id="example-search-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Login</label>
            <div class="col-10">
              <input class="form-control" type="email" value={{vm.user.login}} id="example-email-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Language</label>
            <div class="col-10">
              <input class="form-control" type="url" value={{vm.user.langKey}} id="example-url-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Roles</label>
            <div class="col-10">
              <input class="form-control" type="tel" value={{vm.user.authorities}} id="example-tel-input">
            </div>
          </div>


        </div>

      </div>

      <div class="col-md-8" ng-if="vm.isAdmin">
        <form id="signoutUser" class="navbar-form navbar-right" role="form">
          <a type="submit" class="btn-link" ui-sref="register">Register new user</a>
        </form>

      </div>

    </div>
  </div>

</div>
