<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span> TOREADOR

      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>

        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
        <!--<li><a type="button"  ng-click="vm.getAllUsers()"><span class="hidden-xs" >login</span></a></li>-->

        <li ng-if="!vm.isLogged">
          <form id="signin" class="navbar-form navbar-right" role="form">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="loginNavBar" type="text" class="form-control" name="login" value="" ng-model="vm.login" placeholder="login">
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="passwordNavBar" type="password" class="form-control" name="password" value="" ng-model="vm.password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary" ng-click="vm.getUser()">Login</button>

          </form>

        </li>
        <li ng-if="vm.isLogged && vm.isAdmin">
          <form id="signout" class="navbar-form navbar-right" role="form">
            <button type="submit" class="btn btn-primary" ng-click="vm.logout()">Logout</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.userManagement()">User Management</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.listOfServices()" >List of Services</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.assignServiceState()">Assign Services</button>
          </form>

        </li>
        <li ng-if="vm.isLogged && !vm.isAdmin">
          <form id="signout" class="navbar-form navbar-right" role="form">
            <button type="submit" class="btn btn-primary" ng-click="vm.logout()">Logout</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.userManagement()">User info</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.assignServiceState()">Edit Services</button>
          </form>

        </li>
      </ul>


    </div>
  </div>
</nav>
