
<div>
    <h2><span>Declarative Model</span> {{vm.declarativeModel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Graph Uri</span></dt>
        <dd>
            <span>{{vm.declarativeModel.graphUri}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.declarativeModel.user.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="declarative-model-detail.edit({id:vm.declarativeModel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
