
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUser_servicesLabel">Create or edit a User Services</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.user_services.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.user_services.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idUser">Id User</label>
            <input type="number" class="form-control" name="idUser" id="field_idUser"
                    ng-model="vm.user_services.idUser"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idService">Id Service</label>
            <input type="number" class="form-control" name="idService" id="field_idService"
                    ng-model="vm.user_services.idService"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
