
<div>
    <h2><span>User Services</span> {{vm.user_services.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Id User</span></dt>
        <dd>
            <span>{{vm.user_services.idUser}}</span>
        </dd>
        <dt><span>Id Service</span></dt>
        <dd>
            <span>{{vm.user_services.idService}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-services-detail.edit({id:vm.user_services.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
