.tag-relations-section, .amendment-section {
    border: 1px solid #ccc;
    padding-top: 20px;

    .relations {
        display: inline-block;
        -webkit-column-width: 300px;
        -moz-column-width: 300px;
        column-width: 300px;
    }
    input[type=checkbox] {
        margin-left: 20px;
    }
}

.knowledge-new-change, .knowledge-new-change-empty {
    .glyphicon-plus {
        cursor: pointer;
        color: #888;
    }
}

.knowledge-new-change {
    margin-top: 30px;
}

.knowledge-new-change-empty {
    margin-left: 15px;
    margin-bottom: 15px;
}

.knowledge-change {
    margin-left: 15px;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;


    .knowledge-item {
        position: relative;
        border: 2px solid #ededed;
        padding: 10px 20px 10px 10px;
        outline: none;

        .knowledge-remove-change {
            position: absolute;
            right: 2px;
            top: 2px;
            cursor: pointer;
            color: #888;
        }
    }
}

.knowledge-item {
  outline: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &.clickable:hover {
        background-color: #ddd;
        cursor: pointer;
    }
    &.active {
        background-color: #ddd;
    }
}

.knowledge-item-buttons {
    padding: 7px;
}

.knowledge-properties {
    margin-bottom: 25px;

    .knowledge-property {
        font-weight: bold;
    }
}

.section-scroll {
    max-height: 320px;
    overflow-y:scroll;
}

.big-section-scroll {
    max-height: 600px;
    overflow-y:scroll;
}

.knowledge-manager.loading-button {
    position: absolute;
    top: 70%;
    left: 35%;
    z-index: 20;
}

.no-button-style{
  border:none;
  background-color: transparent;
}

.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
