<div ng-if="vm.individuals[pv.property.id].length > 0" class="input-group input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="Search for value" aria-describedby="basic-addon1" ng-model="vm.individualObject[pv.property.id]" ng-model-options="{ debounce: 200 }" ng-change="vm.doFilterChoiceObjects(pv.property.id, propertyIndex)">
</div>
<div class="section-scroll voffset2">
    <button class="btn btn-lg btn-info knowledge-manager loading-button" ng-if="vm.loadingFilters[pv.property.id]">
        <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
    </button>
    <div ng-repeat="choice in vm.individualsFiltered[pv.property.id]">
        <div class="knowledge-item">
            <input type="checkbox" ng-checked="mv.getElementIndex(choice, propertyIndex) != -1" ng-click="mv.toggleChoice(choice, propertyIndex)" />&nbsp;
            <span>{{ choice.id }}</span>
        </div>
    </div>
</div>