
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPolicyLabel">Create or edit an Individual</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div ng-repeat="pv in vm.propertyValues" class="knowledge-properties" ng-init="propertyIndex = $index">
            <span class="knowledge-property">{{ vm.getElementPrintableLabel(pv.property) }}</span>
            <div ng-if="!pv.choicesObjects" ng-repeat="v in pv.values" class="row knowledge-change">
                <div class="col-xs-11 knowledge-item">
                    <div class="knowledge-remove-change" ng-if="pv.values.length > 2 && v.id != vm.readOnlyValue" ng-click="vm.removeValueProperty(propertyIndex, $index)" title="Remove value">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                    <div ng-if="!pv.choicesType">
                        <input ng-if="v.id == null" type="text" class="form-control" name="name" id="field_name"
                               ng-model="vm.propertyValues[propertyIndex].values[$index].label" ng-required="vm.isRequiredProperty(pv.property.id)" />
                        <input ng-if="v.id != null" type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.propertyValues[propertyIndex].values[$index].id" ng-required="vm.isRequiredProperty(pv.property.id)" />
                    </div>
                    <div ng-if="pv.choicesType">
                        <span ng-if="v.id == vm.readOnlyValue">{{ vm.readOnlyValue }}</span>
                        <select disabled ng-if="v.id != vm.readOnlyValue" ng-options="choice.id for choice in pv.choicesType track by choice.id"
                                ng-model="vm.propertyValues[propertyIndex].values[$index]" ng-required="true"></select>
                    </div>
                </div>
                <!--<div class="col-xs-1 knowledge-new-change" ng-if="pv.values.length === ($index + 1)">
                    <span class="glyphicon glyphicon-plus" ng-click="vm.addNewValueProperty(propertyIndex)" title="Add value"></span>
                </div>-->
            </div>
            <div ng-if="pv.choicesObjects" ng-repeat="v in pv.values" class="row knowledge-change">
                <!--<div class="col-xs-11 knowledge-item" ng-include="'app/components/ontology/ontologyManager-dialog-choiceObjects.html'"></div>-->
                <div class="col-xs-11 knowledge-item">
                    <div class="knowledge-remove-change" ng-if="pv.values.length > 1" ng-click="vm.removeValueProperty(propertyIndex, $index)" title="Remove value">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                    <div>
                        <select ng-if="v.id != vm.readOnlyValue" ng-options="choice.id for choice in pv.choicesObjects track by choice.id"
                                ng-model="vm.propertyValues[propertyIndex].values[$index]" ng-required="false"></select>

                    </div>
                </div>
                <div class="col-xs-1 knowledge-new-change" ng-if="true">
                    <span class="glyphicon glyphicon-plus" ng-click="vm.addNewValueProperty(propertyIndex)" title="Add value"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-general" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button> <!--vm.propertyValues[propertyIndex].values[$index].label-->
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-general"ng-click="vm.save()"> <!--ng-click="vm.assignNewService()"-->
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
