<div>
    <h2>Manage TOREADOR OWL-S Ontology</h2>
    <!--<h2>Services</h2>-->
    <jhi-alert></jhi-alert>




    <div class="container-fluid voffset5">
        <div class="voffset4 alert alert-success" ng-show="vm.success">
            {{ vm.success }}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Click in a class to display its individuals. Click in an individual to display its properties.</div>
        </div>
        <div class="row">
             <button type="button" class="btn btn-general" ng-click="vm.reloadOntology()">
                 <span class="glyphicon glyphicons-shopping-cart"></span>
                 <span class="hidden-xs" >
                       Reset ToreadorLab Ontology
                 </span>
             </button>
             <button type="button" class="btn btn-general" ng-click="vm.updateServices()" ng-if="vm.isAdmin">
                 <span class="glyphicon glyphicons-shopping-cart"></span>
                 <span class="hidden-xs" >
                       Update ToreadorLab Ontology with remote Services Catalogue
                 </span>
             </button>
        </div>
        <div class="row">

            <button class="btn btn-lg btn-info knowledge-manager loading-button" ng-if="vm.loadingFilters">
                <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
            </button>

            <div class="col-md-3">

              <!--<div class="list-group">
                <a href="" class="list-group-item list-group-item-action ">
                  Kmeans
                </a>
                <a href="" class="list-group-item list-group-item-action">Spark-Kmeans</a>
                <a href="" class="list-group-item list-group-item-action">Cassandra-sink</a>
                <a href="" class="list-group-item list-group-item-action">Redis-sink</a>
                <a href="" class="list-group-item list-group-item-action ">Spark-lr</a>
                <div>
                  <br>
                  <button type="submit" class="btn btn-primary" ng-click="vm.logout()">Submit</button>
                </div>

              </div>
          -->

                <h3>Classes</h3>
                                <div ng-if="vm.classes.length == 0" class="voffset4">
                    No Classes in the ontology.
                </div>
                <div ng-if="vm.classes.length > 0" class="input-group input-group">
                    <span class="input-group-addon" id="basic-addon12"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" placeholder="Search for Classes" aria-describedby="basic-addon12" ng-model="vm.classesSearch" ng-model-options="{ debounce: 200 }" ng-change="vm.doFilterClasses()">
                </div>
                <div class="voffset3">
                    <div ng-repeat="cls in vm.classesFiltered">
                        <div class="knowledge-item clickable" ng-click="vm.selectClass(cls.id)" ng-class="vm.getClassCssClass(cls)">
                            {{ vm.getElementPrintableLabel(cls) }}
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h3 ng-if="vm.individuals.length > 0 || vm.noIndividuals">Individuals</h3>
                <div ng-if="vm.noIndividuals" class="voffset4">
                    No Individuals for {{ vm.getElementPrintableSelectedClass(vm.selectedClass) }}.
                </div>
                <div ng-if="vm.individuals.length > 0" class="input-group input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" placeholder="Search for Individuals" aria-describedby="basic-addon1" ng-model="vm.individualSearch" ng-model-options="{ debounce: 200 }" ng-change="vm.doFilterIndividual()">
                </div>
                <div class="section-scroll voffset2">
                    <div ng-repeat="individual in vm.individualsFiltered">
                        <div class="knowledge-item clickable col-xs-8" ng-click="vm.selectIndividual(individual)" ng-class="vm.getIndividualCssClass(individual)">
                            {{ vm.getElementPrintableLabel(individual) }}
                        </div>
                        <div class="knowledge-item-buttons btn-group flex-btn-group-container col-xs-4">
                            <button type="submit"
                                    ui-sref="ontology-manager.edit({id:individual.id, graph:individual.graph, className: vm.selectedClass})"
                                    class="no-button-style"
                                    uib-popover="Edit" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                          <!--  |
                          <button type="submit"
                                  ui-sref="ontology-manager.delete({id:individual.id,  graph:individual.graph, className: vm.selectedClass})"
                                  class="no-button-style"
                                  uib-popover="Remove" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                              <span class="glyphicon glyphicon-remove-circle"></span>
                              <span class="hidden-xs hidden-sm"></span>
                          </button>-->
                        </div>
                    </div>
                </div>
                <div ng-if="vm.selectedClass">
                    <button class="btn btn-general voffset4" ui-sref="ontology-manager.new({className: vm.selectedClass})">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs" >
                            Create new Individual
                        </span>
                    </button>
                </div>
            </div>

            <div class="col-md-6">
                <h3>{{ vm.getElementPrintableLabel(vm.selectedIndividual) }}</h3>
                <div class="big-section-scroll">
                  <div ng-repeat="pv in vm.propertyValues" class="knowledge-properties">
                      <span class="knowledge-property">{{ vm.getElementPrintableLabel(pv.property) }}</span>
                      <div ng-repeat="v in pv.values">
                          <div ng-if="v.id != null" class="knowledge-item clickable" ng-click="vm.selectIndividualFromValue(v)">
                              {{ vm.getElementPrintableLabel(v) }}
                          </div>
                          <div ng-if="v.id == null" class="knowledge-item">
                              {{ vm.getElementPrintableLabel(v) }}
                          </div>
                      </div>
                  </div>
                </div>
            </div>
    </div>
    </div>
</div>
