<div>
  <h2>Assign services</h2>
  <jhi-alert></jhi-alert>

  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="id"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="login"><span>Login</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th></th>
        <th><span>Profiles</span></th>                <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="lastModifiedBy"><span>Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="lastModifiedDate"><span>Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th></th>
      </tr>
      </thead>


      <tbody>
      <tr>
        <td><a ui-sref="user-management-detail({login:vm.user.login})">{{vm.user.id}}</a></td>
        <td>{{vm.user.login}}</td>
        <td>{{vm.user.email}}</td>
        <td>
          <button class="btn btn-danger btn-xs" ng-click="vm.setActive(vm.user, true)" ng-show="!vm.user.activated"
          >Deactivated</button>
          <button class="btn btn-success btn-xs" ng-click="vm.setActive(vm.user, false)" ng-show="vm.user.activated"
                  ng-disabled="vm.currentAccount.login === vm.user.login">Activated</button>
        </td>

        <td>
          <div ng-repeat="authority in vm.user.authorities">
            <span class="label label-info">{{ authority }}</span>
          </div>
        </td>
        <td>{{vm.user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
        <td>{{vm.user.lastModifiedBy}}</td>
        <td>{{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
      </tr>
      </tbody>


    </table>

    <div class="col-md-6">
      <div class="col-md-6">
        <table class="jh-table table table-striped ">
          <thead>
          <tr>
            <th jh-sort-by="service"><span>Services</span><span class="glyphicon"></span></th>
          </tr>
          </thead>

          <tr ng-repeat="service in vm.services">
            <td>{{service.idUser}}</td>
            <td>{{service.idGraph}}</td>
             <!--<td> <button type="submit"
                      ui-sref="assign-manager.edit({id:'{{service.idGraph}}', graph:'{{service.graph}}', className:'{{service.className}}'})"
                      class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm"></span>
              </button>
            </td>-->
            <td> <button type="submit"
                         ng-click="vm.deleteAssignedUserService(service.idUser,service.idGraph,service.graph,service.className)"
                         class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon glyphicon-remove"></span>
              <span class="hidden-xs hidden-sm"></span>
            </button>
            </td>
          </tr>
        </table>
      </div>
  </div>
   <!-- <div class="col-md-12">
      <br>
      <form id="signout" class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Service</label>
          <select class="form-control" id="exampleFormControlSelect1" ng-model="vm.selectServ">
            <option ng-repeat="option in vm.servicesSelect" ng-value="option">{{option}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="nombre" class="col-md-12 col-form-label">Service</label>
          <div class="col-md-6">
            <input type="text" readonly class="form-control" placeholder="{{vm.selectServ}}" id="nombre">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="vm.assignNewService(vm.selectServ)">Assign new service</button>
        </div>-->


      </form>
    </div>
  </div>




  <div class="container-fluid voffset5">
    <div class="voffset4 alert alert-success" ng-show="vm.success">
      {{ vm.success }}
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Click in a class to display its individuals. Click in an individual to display its properties.</div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-general" ng-click="vm.reloadOntology()">
        <span class="glyphicon glyphicons-shopping-cart"></span>
        <span class="hidden-xs" >
                       Reset ToreadorLab Ontology
                 </span>
      </button>
      <button type="button" class="btn btn-general" ng-click="vm.updateServices()">
        <span class="glyphicon glyphicons-shopping-cart"></span>
        <span class="hidden-xs" >
                       Update ToreadorLab Ontology with remote Services Catalogue
                 </span>
      </button>
    </div>
    <div class="row">

      <button class="btn btn-lg btn-info knowledge-manager loading-button" ng-if="vm.loadingFilters">
        <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
      </button>

      <div class="col-md-3">

        <!--<div class="list-group">
          <a href="" class="list-group-item list-group-item-action ">
            Kmeans
          </a>
          <a href="" class="list-group-item list-group-item-action">Spark-Kmeans</a>
          <a href="" class="list-group-item list-group-item-action">Cassandra-sink</a>
          <a href="" class="list-group-item list-group-item-action">Redis-sink</a>
          <a href="" class="list-group-item list-group-item-action ">Spark-lr</a>
          <div>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="vm.logout()">Submit</button>
          </div>

        </div>
    -->

        <h3>Classes</h3>
        <div ng-if="vm.classes.length == 0" class="voffset4">
          No Classes in the ontology.
        </div>
        <div ng-if="vm.classes.length > 0" class="input-group input-group">
          <span class="input-group-addon" id="basic-addon12"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Search for Classes" aria-describedby="basic-addon12" ng-model="vm.classesSearch" ng-model-options="{ debounce: 200 }" ng-change="vm.doFilterClasses()">
        </div>
        <div class="voffset3">
          <div ng-repeat="cls in vm.classesFiltered">
            <div class="knowledge-item clickable" ng-click="vm.selectClass(cls.id)" ng-class="vm.getClassCssClass(cls)">
              {{ vm.getClassPrintableHumanReadable(cls) }}
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h3 ng-if="vm.individuals.length > 0 || vm.noIndividuals">Individuals </h3> <!--<button ng-click="vm.includeInDatabase()">incluir</button>-->
        <div ng-if="vm.noIndividuals" class="voffset4">
          No Individuals for {{ vm.getElementPrintableSelectedClass(vm.selectedClass) }}.



        </div>
        <div ng-if="vm.individuals.length > 0" class="input-group input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Search for Individuals" aria-describedby="basic-addon1" ng-model="vm.individualSearch" ng-model-options="{ debounce: 200 }" ng-change="vm.doFilterIndividual()">
        </div>
        <div class="section-scroll voffset2">
          <div ng-repeat="individual in vm.individualsFiltered">
            <div class="knowledge-item clickable col-xs-8" ng-click="vm.selectIndividual(individual)" ng-class="vm.getIndividualCssClass(individual)">
              {{ vm.getElementPrintableHumanReadable(individual) }}

              <!--<div class="form-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
              </div>-->

            </div>
            <div class="knowledge-item-buttons btn-group flex-btn-group-container col-xs-4">
                <!--<button type="submit"
                      ui-sref="assign-manager.edit({id:individual.id, graph:individual.graph, className: vm.selectedClass})"
                      class="no-button-style"
                      uib-popover="Edit" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">-->

                <button ng-click="vm.addServiceToUser(individual.id,individual.graph,vm.selectedClass)">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="hidden-xs hidden-sm"></span>


                <!--<input type="checkbox" ng-model="individual.selected" ng-click="vm.addServiceToUser(individual.id,individual.graph,vm.selectedClass)" />-->

              </button>
              <!--{{individual.id}} {{individual.graph}} {{vm.selectedClass}}-->
              <!--|
              <button type="submit"
                      ui-sref="ontology-manager.delete({id:individual.id,  graph:individual.graph, className: individual.graph})"
                      class="no-button-style"
                      uib-popover="Remove" popover-trigger="mouseenter" popover-placement="top" popover-append-to-body="true">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-xs hidden-sm"></span>
              </button>-->
            </div>
          </div>
        </div>
        <div ng-if="vm.selectedClass">
          <button class="btn btn-general voffset4" ui-sref="ontology-manager.new({className: vm.selectedClass})">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs" >
                            Create new Individual
                        </span>
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <h3>{{ vm.getElementPrintableLabel(vm.selectedIndividual) }}</h3>
        <div class="big-section-scroll">
          <div ng-repeat="pv in vm.propertyValues" class="knowledge-properties">
            <span class="knowledge-property">{{ vm.getElementPrintableLabel(pv.property) }}</span>
            <div ng-repeat="v in pv.values">
              <div ng-if="v.id != null" class="knowledge-item clickable" ng-click="vm.selectIndividualFromValue(v)">
                {{ vm.getElementPrintableLabel(v) }}
              </div>
              <div ng-if="v.id == null" class="knowledge-item">
                {{ vm.getElementPrintableLabel(v) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










</div>
